html,
body {
  min-width: 290px;
  color: #4d4e53;
  background-color: #ffffff;
  font-family: 'Open Sans', Arial, sans-serif;
  line-height: 1.5;
  padding: 0px;
}

#navbar{
    
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    border-right: solid #99A2A2;
    height: 100%;
    box-sizing: border-box;
    

}
#navbar header{
    color: black;
    font-size: 22px;
    text-align: center;
    padding-top: 10px;
}

#navbar ul{
    list-style: none;
    padding: 0;
    height: 90%;
    overflow-y: auto;
    overflow-x: hidden;
}
#navbar li{
    border-top: solid black 1px;
    padding: 4px 4px 4px 15px;
    position: relative;
    
}
#navbar a {
    text-decoration: none;
    color:#4d4e53;
}

#main-doc{
    position: absolute;
    margin-left: 310px;
    padding: 20px;
    margin-bottom: 10px;
}
#main-doc header{
    color: black;
    font-size: 22px;
    text-align: left;
    
}

#main-doc li{
    margin: 15px 0 0 20px;
    
}

code{
    display: block;
    background: #F7F7F7;
    padding: 15px;
    margin: 10px;
    white-space: pre-line;
}
@media (max-width: 750px) {
    #main-doc{
        position: relative;
        margin-top: 20px;
        margin-left: 10px;
        padding: 0;
    }
    #navbar{
        position: relative;
        top: 0;
        padding: 0;
        margin: 0;
        width: 100%;
        max-height: 250px;
        border: none;
        
    }
    #navbar ul{
        border: 1px solid;
        height: 207px;
    }

}